body, h1, p { font-family: "Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;  font-weight: normal; margin: 0; padding: 0; text-align: center;}
.container { margin-left: auto; margin-right: auto; margin-top: 10px; max-width: 1170px; padding-right: 15px; padding-left: 15px;}
.row:before, .row:after { display: table; content: " ";}
h1 { font-size: 48px; font-weight: 300; margin: 0 0 20px 0;}
p { margin: 0 0 10px;}
a { color: #3282e6; text-decoration: none;}
.lead { font-size: 21px; font-weight: 200; margin-bottom: 20px;}
#lead_free{
    text-align: left
}
h3{
    text-indent:25px;text-align: justify;
}
#h5_free{
    text-align:justify;
}
