li{
    list-style: none;
    margin: 10px;
    background-color: #00a2e0;
    padding: 10px;
    font-size: 16px;
    max-width: 230px;
    /* 多余省略 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}